amqp==2.6.1
argh==0.26.2
billiard==3.6.3.0
celery==4.4.0
importlib-metadata==3.4.0
kombu==4.6.11
psycopg2==2.8.4
pytz==2020.5
PyYAML==5.4.1
SQLAlchemy==1.3.13
typing-extensions==3.7.4.3
vine==1.3.0
watchdog==1.0.2
zipp==3.4.0
